bitly-api==0.3
feedparser==5.2.1
flickrapi==2.1.2
greenlet==0.4.9
jsondatabase==0.1.1
jsonschema==2.5.1
mysqlclient==1.3.4
nltk==3.2
numpy==1.11.0
requests==2.9.1
requests-oauthlib==0.6.1
requests-toolbelt==0.6.0
twython==3.3.0
unidecode==0.4.19
